//CONFIG
@import "./configs/_variables.scss";
@import "./configs/_reset.scss";

//COMPONENTS
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

//SCREENS
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

//FONT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");

//DEFAULTS
a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	background-image: src(
		"https://img.freepik.com/free-photo/abstract-pastel-holographic-textured-background_53876-103982.jpg?w=2000&t=st=1695749610~exp=1695750210~hmac=c00219f0d7f74f18fd29011767f74ddf60ab2392ddb08627bc2c8cf07b05be90"
	);
	color: black;
}

main {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

@keyframes goAway {
	from {
		transform: none;
		opacity: 1;
	}
	to {
		transform: translateY(-50px);
		opacity: 0;
	}
}

.message {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 200px;
	padding: 10px 20px;
	border-radius: 10000px;
	text-align: center;
	animation: goAway 0.5s ease-in-out forwards;
	animation-delay: 5s;
	&.error {
		background-color: $light;
		color: white;
	}
}

.empty__message {
	color: $gray;
}
