.video__data {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	color: $gray;
	.video__title {
		color: $d-yl;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	.video__createdAt {
		margin: 15px 0px;
	}
	.video__owner {
		margin-top: 5px;
		a {
			color: cornflowerblue;
			text-decoration: underline;
		}
	}
}

.video__edit,
.video__delete {
	font-size: 13px;
	&:hover {
		color: $yl;
	}
}

.video__comments {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	.video__comment {
		padding: 10px;
		border-bottom: 1px solid $yl;
		color: black;
		margin-bottom: 10px;
	}
	i {
		color: $d-yl;
		margin-right: 5px;
	}
}
