.video__data {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	.video__title {
		font-size: 25px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.video__createdAt {
		margin: 10px 0px;
	}
	.video__owner {
		a {
			color: cornflowerblue;
			text-decoration: underline;
		}
	}
}
.video__comments {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	.video__comment {
		padding: 10px;
		border-bottom: 1px solid $yl;
		color: black;
		margin-bottom: 10px;
	}
}
