form {
	max-width: 420px;
	margin: 0 auto;
	color: $gray;
	&:not(.search__form) {
		padding: 30px;
		background-color: $dark;
		border-radius: 10px;
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
	}
}

input:not(input[type="range"]),
input[type="submit"] {
	all: unset;
	padding: 15px 20px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 10px;
	color: black;
	width: 90%;
	&::placeholder {
		color: $gray;
	}
}

input[type="submit"],
.social__btn {
	border-radius: 10px;
	padding: 15px 20px;
	background-color: white !important;
	color: rgba($color: $red, $alpha: 1) !important;
	text-align: center !important;
	cursor: pointer;
	display: block;
	border: none;
	&:focus {
		outline: none;
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.video__comment-form {
	display: flex;
	align-items: center;
	textarea {
		font-family: "Gothic A1", sans-serif;
		margin-right: 15px;
		border-radius: 10px;
		border: none;
		text-align: center;
		&::placeholder {
			padding: 15px 20px;
			text-align: center;
		}
	}
	button {
		all: unset;
		background-color: transparent;
		color: rgba($color: white, $alpha: 1) !important;
		text-align: center !important;
		cursor: pointer;
	}
}
