header {
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header__logo {
		color: $yl;
		font-size: 50px;
		.fas.fa-smile-wink {
			display: none;
		}
		&:hover .fas.fa-smile {
			display: none;
		}
		&:hover .fas.fa-smile-wink {
			display: inline;
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin-left: 30px;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
		}
		i {
			font-size: 16px;
		}
	}
	.header__btn {
		background-color: white;
		color: black;
		padding: 5px 10px;
		border-radius: 5px;
	}
	.header__avatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}
