header {
	padding: 30px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: lowercase;
	color: black;
	.header__logo {
		font-size: 70px;
		display: flex;
		align-items: center;
		margin-left: 10px;
		transition: transform 0.1s;
		.fab.fa-youtube {
			margin-left: 60px;
		}
		span {
			display: none;
		}
		&:hover {
			transform: scale(1.1);
			span {
				display: inline;
				color: $mid;
			}
			.fab.fa-youtube {
				display: none;
			}
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin-left: 30px;
			font-weight: 300;
			transition: transform 0.1s;
			&:hover {
				font-weight: 600;
				color: $mid;
				transform: scale(1.2);
			}
		}
	}
	.header__btn {
		background-color: white;
		color: black;
		padding: 5px 10px;
		border-radius: 5px;
		&:hover {
			color: $dark;
		}
	}
	.header__avatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid $dark;
		transition: transform 0.1s;
		&:hover {
			border: 3px solid $mid;
			transform: scale(1.1);
		}
	}
}
