.empty__message {
	margin-bottom: 50px;
	font-size: 18px;
	text-align: center;
}

.video-grid {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
	text-align: center;
	margin-top: 40px;
	color: $gray;
	&:hover {
		color: $d-gray;
		text-decoration: underline;
	}
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.error__message {
	text-align: center;
	color: $gray;
	margin-bottom: 10px;
}
