extends base

block content
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(name="avatar", type="file", id="avatar", accept="image/*")
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name, required)
        input(name="email", type="email", placeholder="E-mail", value=loggedInUser.email, required)
        input(name="username", type="text", placeholder="Username", value=loggedInUser.username, required)
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location, required)
        input(type="submit", value="Update")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password